*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven target 
target/

# CAS Server log files
cas.log
perfStats.log

# CAS Management log files

cas-management.log

# H2 database files
*.db