@(handler: uk.co.g4me.cas.security.SecureHandler, request: uk.co.g4me.cas.controllers.AuthenticatedRequest[AnyContent])
<div class="panel center panel-default">
  <div class="panel-heading"><h3>User: @request.user.userId<a class="pull-right" href="/logout">logout</h3></a></div>
  <div class="panel-body">
    <table class="table center table table-striped table-bordered">
	  <tr>
		<th>Test</th><th>Result</th><th>Message</th>
	  </tr>
	  <tr>
		<td>Authenticated</td><td><i class="fa fa-check center"></i></td><td></td>
	  </tr>
	  <tr>
		<td>Facebook Enabled</td><td><i class="fa fa-close center"></i></td><td>Facebook setup incomplete.</td>
	  </tr>
	</table>
	<br />
	<table class="table center table table-striped table-bordered">
		<tr>
		  <th>Roles:</th>
		</tr>
		@for(role <- request.user.getRoles) {
		  <tr>
		    <td>@role.getName</td>
		  </tr>
		}
	</table>
	<br />
	<table class="table center table table-striped table-bordered">
		<tr>
		  <th>Permissions:</th>
		</tr>
		@for(permission <- request.user.getPermissions) {
		  <tr>
		    <td>@permission.getValue</td>
		  </tr>
		}
	</table>
  </div>
</div>